$primaryBtn : rgb(121, 74, 153);
$textColor : black;

header {
  background: lightblue;
  display: flex;
  justify-content: center;
  color: $textColor;
  button {
    background: $primaryBtn;
  }
}

.contact button {
  background: $primaryBtn;
}